.mt-club-page{
     table{
         td.mt-equipment{
             img{
                 max-width: 25px;
             }
         }
     }
}
.mt-club-card{
    box-shadow: 0 0 2px #000;
    > h4, > figure, > p{
        margin-bottom: 10px;
        text-align: center;
    }
    h3{
        font-size: 24px;
    }
    &__post-title, &__post-name{
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__post-title{
        text-transform: uppercase;
        padding: 5px;
        height: 95px;
        background-color: rgba(31, 58, 147, 0.3);
        color: $blue;
        font-size: 20px;
    }
    &__post-name{
        font-weight: 600;
        font-size: 20px;
        height: 100px;
        
    }
    &__img{
        border-radius: 50%;
        max-width: 90%;
        margin: auto;
        overflow: hidden;
        img{
            max-width: 100%;
        }
    }
}
.mt-responsibilities-main-title{
    background-color: $blue;
    
}
.mt-responsibilities{
    margin-bottom: 10px;

    &__title{
        border-bottom: 1px solid #00000080;
        display: inline-block;
        margin-bottom: 5px;
    }
    &__name{
        padding-left:10px;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: #1d2230;
            display: inline-block;
            transform: translateY(-50%);
        }
    }
}