.mt-item-banner_section{
    height: 400px;
    position: relative;
    overflow: hidden;
    &:before, &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 300px;
        transform: skew(-20deg);
        z-index: 2;
        pointer-events: none;

    }
    &:before{
        content: '';
        background: #1f3a93;
        left: -306px;
        border-right: solid 5px #fff;

    }
    &:after{
        content: '';
        background: #1d2230;
        right: -300px;
        border-left: solid 5px #fff;
    }
    .mt-item_thumb{
        
    position: absolute;
    width: 160%;
    left: -30%;
    right: -30%;
    height: 100%;
    transform: skew(20deg);
    -o-object-fit: cover;
    object-fit: cover;
    img{
        min-width: 100%;
    }
    }
}
.mt-item-info{
    &__details{
        .mt-section_header{
            margin: 0;
            h2{
                color:#1f3a93;
                font-weight: bold;
            }
        }
        &--img{
        }
        &--price{
            text-align: left !important;
        }
        &--size{
            border-bottom: 1px solid #eeeeee;
            margin-bottom: 15px;
            label{
                
    margin-right: 23px;
            }
            select{
                background-color: #f7f7f7;
                border: 1px solid #A6A6A6;
                color: rgba(29, 34, 48, 0.5);
                padding: 10px;
            }
        }
        &--number{
                margin: 0;
                .mt-btn.mt-btn_cart{
                    margin: 0 0 10px 0;
                }

            input{
                height: 25px;
                display: inline-block;
                width: 25px;
            }
        }
        &--content{
            .short-discription{
                font-size: 14px;
                line-height: 1;
            }
            > div,ul, p{
                padding-bottom: 15px;
            }
        }
    }
}
.short-discription{
    &__title{
        font-weight: normal;
        color: #1f3a93;
    }
    &__content{
    }
}
.mt-item-img{
            position: relative;
            overflow: hidden;
}
.mt-sale-offer{
    display: none;
    position: absolute;
    top: -28px;
    left: -50px;
    transform: rotate(-40deg);
    padding: 50px 50px 15px 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #1f3a93;
    color: #fff;
    font-weight: bold;
    &__active{
        display: inline-block;
    }
}
.mt-item-rating{
    margin: 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 15px;
    .fa{
        color: rgba(0, 0, 0, .2);
        padding-right: 2px; 
    }
    .active{
        color: $blue;
    }
}
.mt-item-quantity{
    h5{
        text-transform: uppercase;
        font-weight: normal;
        margin-right: 20px;
        font-size: 16px;
    }
}

.mt-number-picker{
    border: 1px solid #a4a4a4;
    height: 53px;
    margin-right: 5px;
    margin-bottom: 10px;
    a{
        display: inline-block;
        height: 25px;
        width: 25px;
        vertical-align: bottom;
        text-align: center;
    }
    input{
        border: 0;
        &:focus, &:visited{
        outline: none;
        }
    }
}
.mt-product-categories{
    &__title{
        text-transform: uppercase;
        h3{
            font-size: 20px;
            padding: 18px;
            background-color: #1f3a93;
            color: #fff;
        }
    }
    &__list{
        background-color: #1d2230;
        color: #fff;
        text-transform: capitalize;
        padding: 20px;
        margin-bottom: 30px;
        display: block;
        a{
            color: #fff;
            &:hover{
                opacity: .8;
            }
        }
        &--main > li{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            font-size: 20px;
            font-weight: 500;
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
            padding: 10px 0;
            &:last-of-type{
                border-bottom: 0;
                padding-bottom: 0;
            }
            .fa{
                align-self: center;
            }
        }&--sub {
            display: none;
            width: 100%;
            margin-left: 16px;
            font-weight: normal;
            li{
                padding-left: 20px;
                font-size: 18px;
                color: rgba(255, 255, 255, 0.5);;
                padding: 5px 0;
            }
        }
    }
}
.mt-recently-viewed{
    background-color: rgba(213, 213, 213, .3);
    &__heading{
        background-color: #1f3a93;
        color: #fff;
        h4{
            width: 100%;
            padding: 5px;
            line-height: 2.5;
            margin: 0;
            a{
                color: #fff;
            }
        }
    }
    &__item{
        padding: 10px 0;
        &--title{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 10px;
        }
        &--price{
            color: #1f3a93;
            font-weight: bold;
        }
    }
}

mt-item-page .mt-item-info  .mt-product .mt-btn.mt-btn_cart{
    width: auto;
    max-width: 170px;
}
@media screen and (max-width:575px){
    .mt-related-items{
        max-width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:360px){
    .mt-item-info__details--number {
        .mt-item-quantity{
            width: 100%;
        }
        .cart{
            padding: 0;
        }
    }
}


// my css ends