.mt-shopping-page{
    a:hover{
        text-decoration: none;
    }
    .mt-page-menu .items .item a span{
        
    padding: 8px 15px;
    }
    .mt-app_section{
        &:before{
            display: none;
        }
    }
.slider-for.slider.slick-initialized.slick-slider,
.slider-nav .slick-slide{
    padding: 5px;
}
.slick-prev{
    left: 20px;
    top: 45%;
}
.slick-next{
    right: 50px;
    top: 45%;
}
.slick-arrow:before, .slick-arrow:after{
    background-color: #fff;
    z-index: 2;
    color: #999999;
    font-size: 20px;
    width: 30px;
}
} 
.mt-shop-banner:after{
    width: 415px;
    right: -240px;
}.mt-shop-banner:before{
    left: -180px;
}
.mt-shop-banner .mt-left_edge{
    width: 125px;
    position: static;
}
.mt-shop-banner:hover .mt-banner_thumb {
    ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.mt-shop-banner:hover .mt-banner_thumb:hover,
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb,
.mt-shop-banner:hover .mt-banner_thumb:last-child {
    ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.mt-shop-banner:hover .mt-banner_thumb img.mt-thumb {
    left: -21%;
}
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb img.mt-thumb,
.mt-shop-banner:hover .mt-banner_thumb:last-child img.mt-thumb,
.mt-shop-banner:hover .mt-banner_thumb:hover img.mt-thumb {
    opacity: 1;
}
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb img.mt-full,
.mt-shop-banner:hover .mt-banner_thumb:last-child img.mt-full,
.mt-shop-banner:hover .mt-banner_thumb:hover img.mt-full {
    opacity: 1;
} 
.mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption,
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb .mt-slider_caption,
.mt-shop-banner:hover .mt-banner_thumb:last-child .mt-slider_caption {
    opacity: 1;
    top: 0;
    top: auto;
    left: 12%;
    bottom: -30px;
}
.mt-banner_thumb:hover .mt-slider_caption, .mt-banner_section .mt-left_edge:hover + .mt-banner_thumb .mt-slider_caption, .mt-banner_section:hover .mt-banner_thumb:last-child .mt-slider_caption {
    opacity: 0;
    top: 0;
}
.mt-banner_section .mt-slider_caption{
    top: auto;
    bottom: 0;
    left: 12%;
}
.mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption{
    opacity: 1;
    width: auto;
}
.mt-shop-banner .mt-banner_thumb img.mt-thumb{
    width: 155%;
}
@media only screen and (max-width: 1599px){
    .mt-banner_section .mt-banner_thumb img.mt-thumb {
        left: -75px;
}
}
.mt-ad_banner{
    figure{
        padding-bottom: 20px;
    }
}
.mt-banner_thumb .mt-product{
    background-color: transparent;
}
//   shop items
.mt-shop-items{
    &__item{
        // item-hover-effect
    padding-bottom: 20px;
    }
    .mt-product{
        margin: 0;
        padding: 0;
    }
}
// shop pagination
.mt-pagination{
    max-width: 400px;
    min-width: 100px;
    margin: auto;
    a{
        color: #fff;
    }
    &__pages--page, &__arrow{
        color: #fff;
        
        background-color: #d4d4d4;
        margin-left: 5px;
        &:hover{
            background-color: #1d2230;
            color: #fff;
            transition: all .5s ease-in;
        }
    }
    &__pages{
        list-style-type: none;
        &--page{
            display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            width:25px;
            &:hover{
                text-decoration: none;
            }
        }
        }
        &--active{
            background-color: #1d2230;
            color: #fff;
            transition: all .5s ease-in;
        }
    }
    &__arrow{
        font-size: 0;
        .fa{
            font-size: 16px;
            padding: 4px 6px
        }
    }
}
.mt-shop-items__item 
.mt-product{
    padding-bottom: 20px;
    &:hover{
        transform: scale(1.025);
        box-shadow:0 0 2px rgba(0, 0, 0, 0.2);
        transition:  all .5s;
    }
}
ul{
    list-style: none;
}

// login-register
.mt-login-register{
    height: 100%;
    border-radius: 50px;
    label {
        color: #5D625C;
        font-weight: 700;
        display: block;
        font-size: 18px;
        text-transform: capitalize;
    }
    form{
    height: 100%;

    }
    &__login{
    padding: 45px 30px;
        background-color: $blue;
    color: #fff;
    label{
        color: #fff ;
    }
    }
    &__register{
        padding: 45px 30px;

        background-color: rgba(0, 0, 0, 0.1);
        color: #231916;
        input[type=submit]:hover{
            
            color: #231916 !important;
        }
        
    }
    &--title{
        margin-bottom: 20px;
    }
    .mt-input{
        width: 100%;
        height: 40px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    input[type=submit]{
        width: 100%;
        max-width: 300px;
        height: 40px;
        color:#fff;
        font-weight: 600;
        outline: none;
        border:0;
        background-color: #231916;
        &:hover{
            border:3px solid #231916;
            background-color: transparent;
            
        }
    }
     
    a{
        color: #fff;
        &:hover{
            opacity: .5;
        }
    }
}

// FAQS
#accordion .card {
    margin-bottom: 10px;
    &:last-of-type{
        margin-bottom: 0;
    }
    button{
        font-weight: 600;
        width: 100%;
        text-align: left;
        color: #231916;
        position: relative;
        &:focus, &:active{
            box-shadow: none;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.05);
        }
        &:hover{
            text-decoration: none;
            transform: translateY(-3px);
            transition:  all .5s;
        }
        .fa{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        .fa-minus{
            display: inline-block;
        }
        .fa-plus{
            display: none;
        }
    }
    
    button.collapsed{
        .fa-minus{
            display: none;
        }
        .fa-plus{
            display: inline-block;
        }
    }
}

// contact
@media screen and (max-width:767px){
    .contact-page ~ .mt-footer >div > div>div:first-of-type{
        display: none;
    }
}
.contact-form-wrapper{
    iframe{
        max-width: 100%;
        max-height: 100%;
    }
    textarea{
        width: 100%;
        min-height: 150px;
    }
}
.contact-wrapper{
    padding: 15px 10px;
    background-color: $blue;
    color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    height: 100%;
    
    line-break: anywhere;
    h3{
        font-size: 22px;
        padding-bottom: 5px;
        display: inline-block;
        border-bottom: 1px solid #fff;
        margin-bottom: 10px;
    }
    address{
        font-size: 16px;
        margin-bottom: 0;
    }
}