.mt-shopping-page{
    a:hover{
        text-decoration: none;
    }
    .mt-app_section{
        &:before{
            display: none;
        }
    }
    .mt-shop-banner {
        .mt-product_title{
            font-size: 0;
        }
    }
.slider-for.slider.slick-initialized.slick-slider,
.slider-nav .slick-slide{
    padding: 5px;
}
.slick-prev{
    left: 20px;
    top: 45%;
}
.slick-next{
    right: 50px;
    top: 45%;
}
.slick-arrow:before, .slick-arrow:after{
    background-color: #fff;
    z-index: 2;
    color: #999999;
    font-size: 20px;
    width: 30px;
}
} 

.mt-shop-banner:hover .mt-banner_thumb {
    ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.mt-shop-banner:hover .mt-banner_thumb:hover,
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb,
.mt-shop-banner:hover .mt-banner_thumb:last-child {
    ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb img.mt-thumb,
.mt-shop-banner:hover .mt-banner_thumb:last-child img.mt-thumb,
.mt-shop-banner:hover .mt-banner_thumb:hover img.mt-thumb {
    opacity: 1;
}
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb img.mt-full,
.mt-shop-banner:hover .mt-banner_thumb:last-child img.mt-full,
.mt-shop-banner:hover .mt-banner_thumb:hover img.mt-full {
    opacity: 1;
} 
.mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption,
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb .mt-slider_caption,
.mt-shop-banner:hover .mt-banner_thumb:last-child .mt-slider_caption {
    opacity: 1;
    top: 0;
    top: auto;
    left: 30%;
    bottom: -30px;
}
.mt-banner_section .mt-slider_caption{
    top: auto;
    bottom: 0;
    left: 12%;
}
.mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption{
    opacity: 1;
    width: auto;
}
.mt-shop-banner .mt-banner_thumb img.mt-thumb{
    width: 175%;
}
.mt-banner_section .mt-banner_thumb img.mt-thumb {
    width: 161% !important;
}
.mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption,
.mt-shop-banner .mt-left_edge:hover + .mt-banner_thumb .mt-slider_caption,
.mt-shop-banner:hover .mt-banner_thumb:last-child .mt-slider_caption {
display: none;
  }
  .mt-shop-banner .mt-banner_thumb:hover .mt-slider_caption,
  .mt-shop-banner .hover-display:hover .mt-slider_caption{
      display: inline !important;
      opacity: 1 !important;
      transition: all 0.3s ease-in-out 0.3s;
  }
@media only screen and (max-width: 1599px){
    .mt-banner_section .mt-banner_thumb img.mt-thumb {
        left: -75px;
}
}
.mt-ad_banner{
    figure{
        padding-bottom: 20px;
    }
}
.mt-banner_thumb .mt-product{
    background-color: transparent;
}
//   shop items
.mt-shop-items{
    &__item{

    >div{
        margin-bottom: 10px;
    }
    }
}
// shop pagination
.mt-pagination{
    max-width: 400px;
    min-width: 100px;
    margin: auto;
    a{
        color: #fff;
    }
    &__pages--page, &__arrow{
        color: #fff;
        width: 35px;
        height: 35px;
        background-color: #d4d4d4;
        margin-left: 5px;
        &:hover{
            background-color: #1d2230;
            color: #fff;
            transition: all .5s ease-in;
        }
    }
    &__pages{
        list-style-type: none;
        &--page{
            display: inline-block;
        text-align: center;
        a{
            display: inline-block;
            padding: 5px;
            &:hover{
                text-decoration: none;
            }
        }
        }
        &--active{
            background-color: #1d2230;
            color: #fff;
            transition: all .5s ease-in;
        }
    }
    &__arrow{
        font-size: 0;
        .fa{
            font-size: 16px;
            padding: 9px 11px
        }
    }
}

ul{
    list-style: none;
}
// FAQS
#accordion .card {
    margin-bottom: 10px;
    &:last-of-type{
        margin-bottom: 0;
    }
    button{
        font-weight: 600;
        width: 100%;
        text-align: left;
        color: #231916;
        position: relative;
        &:focus, &:active{
            box-shadow: none;
            text-decoration: none;
            background-color: rgba(0, 0, 0, 0.05);
        }
        &:hover{
            text-decoration: none;
            transform: translateY(-3px);
            transition:  all .5s;
        }
        .fa{
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
        .fa-minus{
            display: inline-block;
        }
        .fa-plus{
            display: none;
        }
    }
    
    button.collapsed{
        .fa-minus{
            display: none;
        }
        .fa-plus{
            display: inline-block;
        }
    }
}

// contact
@media screen and (max-width:767px){
    .contact-page ~ .mt-footer >div > div>div:first-of-type{
        display: none;
    }
}

@media screen and (max-width:767px){
    .mt-login-register input[type=submit]{
    max-width: 100%;
    }
}
@media screen and (max-width:375px){
    mt-number-picker{
    max-width: 100%;
    }
}