@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Tajawal:wght@200;300&display=swap");
.mt-large_padding {
  padding: 6rem 0 4rem 0;
}

.mt-medium_padding {
  padding: 60px 0;
}

@media only screen and (max-width: 767px) {
  .mt-medium_padding {
    padding: 30px 0;
  }
}

.mt-small_padding {
  padding-top: 30px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .mt-small_padding {
    padding-bottom: 30px;
  }
}

.mt-club_padding {
  padding-bottom: 60px !important;
}

@media only screen and (max-width: 767px) {
  .mt-club_padding {
    padding-bottom: 30px;
  }
}

.mt-container_margin_btn {
  margin-bottom: -8rem;
}

.mt-light_bgr {
  background: #f2f2f2;
}

.mt-primary_bgr {
  background: #1f3a93;
}

.mt-secondary_bgr {
  background: #1d2230;
}

.mt-plain_bgr {
  background: #fff;
}

.mt-thumb img {
  max-width: 100%;
  height: auto;
}

.mt-btn.mt-btn_more {
  border: 2px solid #fff;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none !important;
}

.mt-btn.mt-btn_more:hover {
  background-color: #ffff;
  color: #1f3a93;
  border: none;
}

.mt-btn.mt-btn_more:after {
  font-family: "FontAwesome";
  content: "\f003";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  padding-right: 0.5rem;
}

.mt-dark_bgr {
  background-color: #1d2230;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.mt-btn_more:hover {
  background-color: #ffff;
  color: #1d2230;
}

.mt-section_header {
  margin: 1rem 0 1.5rem 0;
}

@media only screen and (min-width: 1600px) {
  .mt-section_header {
    margin: 0 0 2rem 0;
  }
}

.mt-section_header .mt-section_title {
  font-size: 30px;
  line-height: 24px;
  color: #1d2230;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #1d2230;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .mt-section_header .mt-section_title {
    font-size: 26px;
  }
}

.mt-section_header .mt-more {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #1f3a93;
}

.mt-section_header .mt-more:hover {
  color: #1d2230;
}

.mt-section_header .mt-more:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 25px;
  margin: 0 0.8rem;
}

.mt-section_header .mt-more:hover {
  color: #1f3a93;
}

.mt-news_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #444;
}

@media only screen and (max-width: 767px) {
  .mt-news_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
}

.mt-primary_bgr .mt-section_header .mt-more:before {
  color: rgba(255, 255, 255, 0.2);
}

.mt-tv_section .mt-section_header .mt-more:before,
.mt-scores .mt-section_header .mt-more:before {
  background: rgba(255, 255, 255, 0.2);
}

.mt-medium_padding.mt-light_bgr .row {
  margin-top: 30px;
  margin-bottom: 15px;
}

.mt-small_padding.ad-banner {
  padding-bottom: 15px;
}

.mt-container_margin {
  margin-top: 6rem;
}

.mt-container_margin .container-lg {
  margin-top: -12rem;
}

@media only screen and (max-width: 767px) {
  .mt-container_margin .container-lg {
    margin-top: -8rem;
  }
}

.slick-slide:focus {
  outline: none;
}

button.slick-next,
button.slick-next:hover,
button.slick-next,
button.slick-next:focus {
  border: none;
  outline: none;
}

.mt-latest-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 0;
  top: 25%;
}

.slick-prev {
  left: -50px;
}

.slick-prev::before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "FontAwesome";
  content: "\f104";
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.slick-next {
  right: -50px;
}

.slick-next::before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "FontAwesome";
  content: "\f105";
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.mt-small_padding.mt-ad_banner {
  padding-bottom: 15px;
}

aside h4.mt-widget_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0;
  padding: 0;
}

.mt-match-scores {
  margin-bottom: 30px;
}

.mt-match-scores .mt-section_header .mt-section_title {
  font-size: 30px;
  line-height: 24px;
  color: #1d2230;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #1d2230;
  margin: 0;
  color: #fff;
}

.mt-match-scores .mt-section_header .mt-more {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #1f3a93;
  color: rgba(255, 255, 255, 0.4);
}

.mt-match-scores .mt-section_header .mt-more:hover {
  color: #1d2230;
}

.mt-match-scores .mt-section_header .mt-more:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 25px;
  margin: 0 0.8rem;
}

.mt-match-scores .mt-section_header .mt-more:hover {
  color: #fff;
}

.mt-match-scores .mt-section_header .mt-more:before {
  background: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 767px) {
  .mt-match-scores .mt-score-section {
    margin-top: 2rem;
  }
}

.mt-match-scores .mt-score_board {
  padding: 0 15px;
  height: calc(100% - 40px);
}

.mt-match-scores .mt-score_board .mt-score-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.75fr 4fr (1fr)[5];
      grid-template-columns: 0.5fr 0.75fr 4fr repeat(5, 1fr);
  line-height: 22px;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 0;
  grid-gap: 0px;
  text-align: center;
}

.mt-match-scores .mt-score_board .mt-score-table .mt-score {
  color: #fff;
}

.mt-match-scores .mt-score_board .mt-score-table .team {
  text-align: left;
}

.mt-match-scores .mt-score_board .head {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.mt-match-scores .mt-score_board .border-btn {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.mt-match-scores .mt-score_board .border-btn:last-child {
  border-bottom: none;
}

.mt-match-scores .mt-score_board .mt-score-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.75fr 5fr 1fr;
      grid-template-columns: 0.5fr 0.75fr 5fr 1fr;
  line-height: 22px;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 0;
  grid-column-gap: 0.5rem;
  text-align: center;
  color: #fff;
}

.mt-match-history {
  padding-left: 15px;
  padding-right: 15px;
}

.mt-match-history .mt-section_header .mt-section_title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 24px;
  color: #fff;
}

.mt-match-history .mt-section_header .mt-more {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #1f3a93;
  color: #67ceee;
}

.mt-match-history .mt-section_header .mt-more:hover {
  color: #1d2230;
}

.mt-match-history .mt-section_header .mt-more:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 25px;
  margin: 0 0.8rem;
}

.mt-match-history .mt-section_header .mt-more:hover {
  color: #fff;
}

.mt-match-history .mt-section_header .mt-more:before {
  background: #67ceee;
}

.mt-match-history .mt-blue_history .mt-post_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.mt-match-history .mt-blue_history p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  padding: 5px 0;
}

.table.table-borderless {
  text-align: center;
}

.border-bottom,
.border-0 {
  border-bottom: 1px solid #e5e5e5 !important;
}

.border-bottom .mt-sn,
.border-0 .mt-sn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1d2230;
}

.border-bottom .mt-score,
.border-0 .mt-score {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.4);
}

.border-bottom:hover,
.border-0:hover {
  background-color: transparent !important;
}

.border-bottom:hover td,
.border-0:hover td {
  color: #1f3a93;
}

.border-bottom:hover th,
.border-0:hover th {
  color: #1f3a93;
}

.border-0 {
  border-bottom: none !important;
}

.border-bottom.mt-table_head:hover {
  color: #1d2230;
}

.border-bottom.mt-table_head td {
  background: rgba(29, 34, 48, 0.2);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1d2230;
  border: 8px solid #fff;
  text-transform: uppercase;
}

.border-bottom.mt-table_head th {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1d2230;
}

.mt-equipment {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.mt-equipment img {
  margin-right: 5px;
}

.mt-match_slide {
  padding-right: 30px;
}

@media only screen and (max-width: 650px) {
  .mt-match_slide {
    padding-right: 0;
  }
}

.mt-match_slide .mt-video_thumb img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=match.css.map */