@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Tajawal:wght@200;300&display=swap");
.mt-large_padding {
  padding: 6rem 0 4rem 0;
}

.mt-medium_padding {
  padding: 60px 0;
}

@media only screen and (max-width: 767px) {
  .mt-medium_padding {
    padding: 30px 0;
  }
}

.mt-small_padding {
  padding-top: 30px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .mt-small_padding {
    padding-bottom: 30px;
  }
}

.mt-club_padding {
  padding-bottom: 60px !important;
}

@media only screen and (max-width: 767px) {
  .mt-club_padding {
    padding-bottom: 30px;
  }
}

.mt-container_margin_btn {
  margin-bottom: -8rem;
}

.mt-light_bgr {
  background: #f2f2f2;
}

.mt-primary_bgr {
  background: #1f3a93;
}

.mt-secondary_bgr {
  background: #1d2230;
}

.mt-plain_bgr {
  background: #fff;
}

.mt-thumb img {
  max-width: 100%;
  height: auto;
}

.mt-btn.mt-btn_more {
  border: 2px solid #fff;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none !important;
}

.mt-btn.mt-btn_more:hover {
  background-color: #ffff;
  color: #1f3a93;
  border: none;
}

.mt-btn.mt-btn_more:after {
  font-family: "FontAwesome";
  content: "\f003";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
  padding-right: 0.5rem;
}

.mt-dark_bgr {
  background-color: #1d2230;
}

body {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.mt-btn_more:hover {
  background-color: #ffff;
  color: #1d2230;
}

.mt-section_header {
  margin: 1rem 0 1.5rem 0;
}

@media only screen and (min-width: 1600px) {
  .mt-section_header {
    margin: 0 0 2rem 0;
  }
}

.mt-section_header .mt-section_title {
  font-size: 30px;
  line-height: 24px;
  color: #1d2230;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #1d2230;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .mt-section_header .mt-section_title {
    font-size: 26px;
  }
}

.mt-section_header .mt-more {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  padding-left: 1.5rem;
  text-decoration: none;
  color: #1f3a93;
}

.mt-section_header .mt-more:hover {
  color: #1d2230;
}

.mt-section_header .mt-more:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 25px;
  margin: 0 0.8rem;
}

.mt-section_header .mt-more:hover {
  color: #1f3a93;
}

.mt-news_title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #444;
}

@media only screen and (max-width: 767px) {
  .mt-news_title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
  }
}

.mt-primary_bgr .mt-section_header .mt-more:before {
  color: rgba(255, 255, 255, 0.2);
}

.mt-tv_section .mt-section_header .mt-more:before,
.mt-scores .mt-section_header .mt-more:before {
  background: rgba(255, 255, 255, 0.2);
}

.mt-medium_padding.mt-light_bgr .row {
  margin-top: 30px;
  margin-bottom: 15px;
}

.mt-small_padding.ad-banner {
  padding-bottom: 15px;
}

.mt-container_margin {
  margin-top: 6rem;
}

.mt-container_margin .container-lg {
  margin-top: -12rem;
}

@media only screen and (max-width: 767px) {
  .mt-container_margin .container-lg {
    margin-top: -8rem;
  }
}

.slick-slide:focus {
  outline: none;
}

button.slick-next,
button.slick-next:hover,
button.slick-next,
button.slick-next:focus {
  border: none;
  outline: none;
}

.mt-latest-slider .slick-list {
  margin-left: -15px;
  margin-right: -15px;
}

.slick-arrow {
  background-color: transparent;
  border: none;
  position: absolute;
  font-size: 0;
  top: 25%;
}

.slick-prev {
  left: -50px;
}

.slick-prev::before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "FontAwesome";
  content: "\f104";
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.slick-next {
  right: -50px;
}

.slick-next::before {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "FontAwesome";
  content: "\f105";
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}

.mt-small_padding.mt-ad_banner {
  padding-bottom: 15px;
}

aside h4.mt-widget_title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

figure {
  margin: 0;
  padding: 0;
}

.mt-statistics_main_table {
  padding-bottom: 30px;
}

.mt-statistics_table {
  background: rgba(31, 58, 147, 0.1);
}

.mt-statistics_table th {
  background: #1d2230;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 0 !important;
}

.mt-statistics_table img {
  margin-right: 5px;
}

.mt-statistics_table td {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.mt-team_title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 24px;
  color: #1f3a93;
}

.mt-team_info {
  position: relative;
}

@media only screen and (max-width: 991px) {
  .mt-team_info {
    padding-bottom: 30px;
  }
}

.mt-team_info figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mt-team_info .mt-team_caption {
  position: absolute;
  bottom: 15px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mt-team_info span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.mt-img-hover-zoom {
  height: 300px;
  overflow: hidden;
  cursor: pointer;
}

.mt-img-hover-zoom img {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.mt-img-hover-zoom:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=statistics.css.map */